.btn-solution {
  display: flex;
  justify-content: center;
}
.btn-read {
  display: flex;
  justify-content: center;
}

.subscribe {
  background-image: linear-gradient(
      rgba(144, 55, 188, 0.5),
      rgba(34, 46, 137, 0.5)
    ),
    url(https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.carousel {
  display: flex;
  justify-content: center;
}

.contact {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(80, 95, 214, 0.5)
    ),
    url(https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.buttons-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
